@media only screen and (max-width : 1200px)
	.inspire
		&-left
			width: gem(400)
			.small-mockup
				left: 0

			.image-grow
				position: relative
				left: gem(-100)
		&-right
			width: gem(400)
	.hero-section .video-wrapper
		width: gem(450)
	.inspire-row.owl-carousel.owl-drag .owl-item
		opacity: 1
		img
			width: unset
	.inspire-row-child
		margin: auto
	.soon
		&-left
			width: gem(400)
		&-right
			img
				width: gem(400)
		&-contains
			margin-top: gem(10)
	.task
		&-left
			width: gem(400)
		&-right
			width: gem(400)
			justify-content: flex-end
			.small-mockup
				right: 0
			.image-grow
				margin-right: gem(-100)
	.reward
		&-left
			width: gem(400)
			.small-mockup
				left: 0
			.image-grow
				left: gem(-100)
				position: relative
				
		&-right
			width: gem(405)
			margin-top: gem(280)
	.rate
		&-left
			width: gem(400)
		&-right
			width: gem(400)
			display: flex
			align-items: center
			justify-content: center
			img
				margin-right: 0
				margin-top: gem(-150)
	.join
		&-left
			width: gem(400)
			img
				width: 100%
		&-right
			width: gem(300)
			margin-right: gem(44)
			margin-top: gem(200)
	.footer-section .section-bg img
		margin-top: gem(50)
		height: gem(500)
	.footer-copyright
		margin-top: gem(40)
	.footer-section .section-content
		margin-top: gem(220)

	.popup
		&-left 
			.popup-logo
				margin-left: gem(71)
			.popup-image
				margin-top: gem(100)
		&-right
			margin-right: gem(71)
			.form
				width: gem(400)
				h2
					margin-top: gem(70)