@media only screen and (max-width : 1200px)
	.header-left nav
		display: none
	.inspire
		&-left
			width: gem(400)
			.small-mockup
				left: 0

			.image-grow
				position: relative
				left: gem(-100)
		&-right
			width: gem(400)
	.hero-section .video-wrapper
		width: gem(450)
	.inspire-row.owl-carousel.owl-drag .owl-item
		opacity: 1
		img
			width: unset
	.inspire-row-child
		margin: auto
	.soon
		&-left
			width: gem(400)
		&-right
			img
				width: gem(400)
		&-contains
			margin-top: gem(10)
	.task
		&-left
			width: gem(400)
		&-right
			width: gem(400)
			justify-content: flex-end
			.small-mockup
				right: 0
			.image-grow
				margin-right: gem(-100)
	.reward
		&-left
			width: gem(400)
			.small-mockup
				left: 0
			.image-grow
				left: gem(-100)
				position: relative
				
		&-right
			width: gem(405)
			margin-top: gem(280)
	.reward .section-bg img
		margin-top: gem(170)
	.rate
		&-left
			width: gem(400)
		&-right
			width: gem(400)
			display: flex
			align-items: center
			justify-content: center
			img
				margin-right: 0
				margin-top: gem(-150)
	.join
		.soon-mobile-bg
			display: block
		&-left
			width: gem(400)
			img
				width: 100%
		&-right
			width: gem(300)
			margin-right: gem(44)
			margin-top: gem(200)
	.footer-section .section-bg img
		margin-top: gem(50)
		height: gem(500)
	.footer-copyright
		margin-top: gem(40)
	.footer-section .section-content
		margin-top: gem(220)

	.popup
		&-left 
			.popup-logo
				margin-left: gem(71)
			.popup-image
				margin-top: gem(100)
		&-right
			margin-right: gem(71)
			.form
				width: gem(400)
				h2
					margin-top: gem(70)
				&.category-active
					h2.title-h2
						margin-top: 0
						font-size: gem(22)
					.popup-close
						height: gem(50)


@media only screen and (max-width : 900px)
	main
		padding-bottom: gem(50)
	.hero-section 
		.main-phone
			display: block
			width: gem(300)
			height: gem(530)
			margin-top: gem(100)
		.main-photo
			display: none
		&-left
			// width: gem(350)
			.video-wrapper
				width: gem(350)
				.main-video
					height: gem(200)
		&-contains
			h1
				width: gem(350)
				margin-top: gem(180)
	.hero-section .hero-screen-bg
		height: gem(660)
	.header
		height: gem(65)
		&-left
			nav
				display: none
		.logo
			width: gem(85)
	.small-mockup
		display: none
	.inspire-left .image-grow
		left: 0
	.hero-section
		height: gem(660)
	.inspire-right
		margin-top: gem(200)
		h2
			margin-bottom: gem(15)
	.soon
		&-right
			display: none
		&-left
			display: flex
			flex-direction: column
			width: 100%
			align-items: center
			margin-top: gem(110)
			p
				text-align: center
		.section-bg 
			img
				height: gem(400)
	.task
		&-right 
			height: gem(600)
			.image-grow
				margin-right: 0
		&-left
			margin-top: gem(200)
	.reward	
		&-left
			.image-grow
				left: 0
	.reward .section-bg img
		height: gem(400)
		margin-top: gem(180)
	.rate
		margin-top: gem(60)
		&-right
			height: gem(700)
		.circle_container
			margin-left: gem(-180)
			top: gem(-130)
	.inspire-right
		margin-top: gem(170)
	.rounds-right
		height: gem(400)
		img
			margin-top: gem(90)
	.join-left 
		display: none
	.join-right
		width: 100%
		margin: auto
		margin-top: gem(150)
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	.join
		height: gem(300)
	.footer-main
		&-logo
			margin-right: gem(40)
			width: gem(100)
			height: gem(30)
		&-nav
			margin-right: gem(40)
		&-contacts
			margin-right: gem(40)
	.popup
		&-left
			width: 0	
			.popup-image

				display: none
			.popup-logo
				position: absolute
		&-right
			width: 100%
			margin-left: gem(71)
			align-items: center
			.popup-close
				align-self: flex-end
			.success
				top: gem(100)
			.form
				&.category-active
					.popup-close
						height: unset
	.mobile_menu
		display: flex
		flex-direction: column
		&-logo
			display: flex
		&-main
			display: flex
			flex-direction: column
			align-items: center
			nav
				a
					opacity: 0.5
				a:hover
					opacity: 1
	.main_button
	    display: flex
	    background: #fe3a89
	    width: 100%
	    height: gem(54)
	    align-items: center
	    justify-content: center
	    transition: all .3s ease
	    position: fixed
	    bottom: 0
	    z-index: 9

@media only screen and (max-width : 480px)
	main
		padding-bottom: gem(89)
	.header	
		// display: none
		background: none
		.share-button, .share-dropdown, .get-access
			display: none
		.logo
			display: none
		.language
			margin-top: gem(-20)
			margin-left: gem(-50)
	.popup
		width: 100%
		&-left
			img
				margin-left: gem(10) !important
		&-right
			margin: 0
			width: 100%
			.form
				position: relative
				left: 0
				width: gem(342)
				form
					button
						width: 100%
						margin-top: gem(200)
			.success
				width: 100%
				margin-top: gem(38)
				padding: 0 gem(10)
			.success-share
				width: 100%
				margin-top: gem(38)
				padding: 0 gem(10)
				top: gem(100)
		&-error
			width: 90%
			border-radius: gem(4)
			margin: auto
			right: 5%
			bottom: 0
			margin-bottom: gem(24)

		
	.hero-section .hero-logo
		display: block
		margin: auto
		margin-top: gem(40)
		width: gem(160)
	.hero-section
		height: gem(540)
		&-left	
			width: 100%
		&-contains
			h1
				text-align: center
				width: 100%
				margin-top: gem(60)
		&-left
			.video-wrapper
				width: 100%
		.main-phone
			display: none
		.hero-screen-bg
			transform-origin: 97% 20%
			transform: scale(3)
			height: unset
	.inspire
		height: gem(1230)
		&-contains
			flex-direction: column-reverse
		&-right
			width: 100%
			margin-top: gem(60)
		&-left
			width: 100%
			justify-content: center
			align-items: center
		.background__square
			margin-top: gem(300)
			margin-left: 0
		&-row
			margin-top: gem(30)
	.soon
		height: gem(400)
		margin-top: gem(-60)
		.soon-mobile-bg
			display: block
		.soon-bg-desctop
			display: none
		&-contains
			padding: gem(0) gem(16)
		&-left
			margin-top: gem(100)
	.task
		height: gem(810)
		&-contains
			flex-direction: column
		&-left
			width: 100%
			margin-top: gem(50)
		&-right
			width: 100%
			justify-content: center
			align-items: center
		.background__square
			margin-left: gem(-200)
			margin-top: gem(220)
	.reward
		height: gem(1000)
		.section-bg
			img
				transform: scale(3)
				height: auto
		&-contains
			flex-direction: column-reverse
		&-left
			width: 100%
			justify-content: center
			align-items: center
		&-right
			width: 100%
			margin-right: 0
			margin-top: gem(140)
	.reward-carousel 
		margin-top: gem(30)
		.item
			transform: scale(0.7)
	.reward-carousel .opacutibig .item
		transform: scale(1)
	.rate
		height: gem(1050)
		&-contains
			flex-direction: column
		&-left
			width: 100%
			h2
				margin-top: 0
		&-right
			width: 100%

			justify-content: center
			align-items: center
			img
				margin-top: 0
		.circle_container
			top: gem(380)
			margin-left: gem(-345)
	.inspire.second
		height: gem(900)
		.background__square
			margin-top: gem(400)
			margin-left: gem(-200)
	.rounds
		height: gem(900)
		&-contains
			flex-direction: column
		&-right
			width: 100%
			img
				margin-top: gem(40)
		&-left
			width: 100%
	.join
		.soon-bg-desctop
			display: none
		.section-bg img
			margin-top: 0
		img.soon-mobile-bg
			display: block
		&-right
			margin-top: gem(120)
	.footer
		&-section
			.section-bg
				img
					width: auto
					max-width: unset
					height: gem(528)
			.section-content
				margin-top: gem(120)
		&-main
			flex-direction: column
			align-items: center
			&-logo
				width: gem(120)
				height: auto
				margin-bottom: gem(50)
				margin-right: 0
			&-nav
				display: none
			&-contacts
				align-items: center
				margin-right: 0
				span
					margin-bottom: gem(20)
					text-transform: uppercase
					font-size: gem(20)
					font-weight: 600
				a.desc-2.gray
					font-size: gem(18)
			&-socials
				align-items: center
				margin-top: gem(50)
				&-top
					span
						text-transform: uppercase
						font-size: gem(20)
						font-weight: 600
		&-copyright
			flex-direction: column
			align-items: center
			border-top: gem(1) var(--color-white) solid
			p.desc-2.gray
				font-size: gem(10)
				color: var(--color-white)
	.popup
		&-left
			.popup-logo
				margin-top: gem(37)
		&-right
			.form
				width: 100%
				padding: 0 gem(10)
				h2
					margin-top: gem(0)
				form
					button
						margin-top: gem(42)
						height: gem(54)
			.success
				margin-top: gem(22)

@media only screen and (min-width : 1601px)
	.popup-right 
		.form, .success, .success-share
			margin-top: gem(200)
			margin-right: gem(200)
